.In_exItem {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #282c34;
    margin: 1% 1%;
    border-radius: 50px;
    font-size: 25px;
    background: #fbfbfb;
    height: 65.2px;
    width: 90%;
    float: right;
}

.Tag {
  box-sizing: border-box;
  margin: 0 8px 0 0;
  color: #000000d9;
  font-size: 20px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  display: inline-block;
  height: auto;
  padding: 0 7px;
  line-height: 20px;
  white-space: nowrap;
  background: #fafafa;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  opacity: 1;
  transition: all .3s;
}

.Blue {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }

.Red {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }
  .edit-btn {
    margin: 8px 5px;
    padding: 7px 12px;
    background-color: black;
    color: white;
  }
  .delete-btn {
    margin: 8px 5px;
    padding: 7px 12px;
    background-color:#dc3545;
  }
.editIn_exItem{
  display: flex;
}
.done-btn {
    font-size: 15px;
    background-color:black;
    color: white;
  }
.edt-cancel-btn {
  font-size: 15px;
  background-color:black;
  color: white;
}

.In_exInput label {
  font-size: 20px;
  font-weight:500;
}

.edit-select {
  width: 15%;
  height: 55%;
  border: #282c34 3px solid;
  border-radius: 10px;
  background-color: firebrick;
  font-size: 18px;
  color: white;
}

.edit-amount {
  width: 15%;
  height: 55%;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 18px;
  border-radius: 10px;
  border: #282c34 3px solid;
  text-align: center;
}

