.selectdiv {
    position: sticky;
    float: right;
    min-width: 500px;
    margin: 10px;
}

.grid-container {
  display: grid;
}
.InExList {
  margin: 10px;
  
}
/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
    display: none;
  }
  
  .selectdiv:after {
    content: "<>";
    font: 17px "Consolas", monospace;
    color: white;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 11px;
    /*Adjust for position however you want*/
  
    top: 18px;
    padding: 0 0 2px;
    border-bottom: 1px solid white;
    /*left line */
  
    position: absolute;
    pointer-events: none;
  }
  
  .selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */
  
    display: block;
    width: 40%;
    max-width: 320px;
    height: 50px;
    float: right;
    margin: 5px 0px;
    padding: 0px 24px;
    font-size:20px;
    font: bold;
    line-height: 1.75;
    color:white;
    background-color: firebrick;
    background-image: none;
    border: 3px solid #282c34;
    -ms-word-break: normal;
    word-break: normal;
    border-radius: 15px;
  }
  